server:
  port: 8080

spring:
  application:
    name: market-data-persister

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/rabbittick?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

app:
  rabbitmq:
    exchange: market-data.exchange
    queue: market-data.persist.queue
    routing-key-ticker: "*.ticker.#"
    routing-key-trade: "*.trade.#"
    routing-key-orderbook: "*.orderbook.#"
    nack-requeue: true